.Pdp {
  width: 1200px;
  padding: 30px;
}
.Pdp-container {
  background: rgb(255, 255, 255);
}
.Pdp-title {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0%;
  text-align: left;
  position: relative;
  padding-left: 60px;
}
.Arrow-title {
  position: absolute;
  left: 10px;
  top: 3px;
}
.Product-img {
  max-width: 400px;
  max-height: 270px;
}
.Product-flex {
  display: flex;
}
.Pdp-available {
  color: rgb(60, 215, 140);
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
}
.Pdp-price {
  color: rgb(252, 91, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0%;
  text-align: center;
}
.Pdp-quantity {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}
